extends layout

block content

	h1 Welcome #{name}
	.container
		p Manage Your Expenses
		button#myBtn Add A New Expense
	.show-expenses
		block append content


	#myModal.modal
		.modal-content
			span.close ×
			h2 Add Transaction Information
			form(action='/user/#{id}/expense' method='post')
				span.label Name
				br
				input(type='text', name='name')
				br
				span.label Date
				br
				input(type='text', name='date')
				br
				span.label Time
				br
				input(type='text', name='time')
				br
				span.label Amount
				br
				input(type='text', name='amount')
				br
				span.label Description
				br
				input(type='text', name='description')
				br
				br
				input(type='submit', value='Submit')

