<!DOCTYPE html>
	<html>
	<head>
		<% include layout %>
	</head>
	<body>
	    <h1>Be responsible with your money!</h1>
	    <p>Track your expenses!</p>
	    <div class="container">
	    	<p><a class="login-link" href="/login">Login</a> OR <a class="register-link" href="/register">Register</a></p>
	    </div>
	</body>
</html>
