extends layout

block content

	h1 Login
	form(action='/login', method='post')
		Email
		br
		input(type='text', name='email')
		br
		Password
		br
		input(type='password', name='password')
		br
		input(type='submit', value='Submit')