<!DOCTYPE html>
	<html>
	<head>
		<% include layout %>
	</head>
	<body>
	    <h1>Login</h1>
		<div class="sign-in">
		    <form id="login-form" action="/login" method="post">
			  Email<br>
			  <input type="text" name="email">
			  <br>
			  Password<br>
			  <input type="password" name="password">
			  <br>
			  <input type="submit" class="login-submit" value="Submit">
			</form> 
		</div>
	</body>
</html>
