<!DOCTYPE html>
  <html>
  <head>
    <% include layout %>
  </head>
  <body>
    <h1>Register</h1>
    <div class="sign-in">
      <form action="/user" method="post">
        First Name<br>
        <input type="text" name="firstname">
        <br>
        Last Name<br>
        <input type="text" name="lastname">
        <br>
        Email<br>
        <input type="text" name="email">
        <br>
        Password<br>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Submit">
      </form> 
    </div>
  </body>
</html>
